$border-color: black;
$basic-margin: 10px;
$basic-padding: 5px;
$middle-border: 5px;
$nutrient-divider: 1px;
$thick-border: 10px;
$thin-border: 3px;
$primary-color: blue;
$secondary-color: ghostwhite;

img {
  height: 75vh; // 75% view height
  width: 100vw; // 100% view width
}

h3 {
  margin-left: 10px;
}

.App {
  text-align: center;
}

.amount-per-serving {
  padding-top: $basic-padding;
}

.calorie-amount {
  font-size: 50px;
  text-align: right;
}

.calorie-info {
  border-top: $thick-border solid $border-color;
  margin: 0 $basic-margin;
}

.calories {
  display: flex;
  justify-content: space-between;
}

.calories-string {
  font-size: 36px;
  padding-top: 12px;
}

.food-name {
  margin: $basic-margin;
}

.macronutrient .major-nutrient {
  font-weight: bold;
}

.macronutrient,
.micronutrient,
.subnutrient {
  border-top: $nutrient-divider solid $border-color;
  padding: $basic-padding 0;
}

.micronutrients-label {
  border-bottom: $thick-border solid $border-color;
}

.nutrients {
  border-top: $middle-border solid $border-color;
  margin: 0 $basic-margin;
}

.nutrition-facts {
  margin: $basic-margin;
}

.nutrition-info {
  border: $thin-border solid $border-color;
  width: 300px;
  text-align: left;
  margin: 100px;
}

.nutrition-warning {
  margin: $basic-margin;
}

.page-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $secondary-color;
}

.serving-size {
  margin: $basic-margin;
}

.log-table-container {
  text-align: left;
}
