.App {
  text-align: center;
}

.calorie-info {
  border-top: 10px solid black;
  margin: 10px;
}

.food-name {
  margin: 10px;
}

.nutrients {
  border-top: 5px solid black;
  margin: 10px;
}

.nutrition-info {
  border: 3px solid black;
  width: 300px;
  text-align: left;
  margin: 100px;
}

.macronutrient .nutrient {
  font-weight: bold;
}

.macronutrient,
.micronutrient,
.subnutrient {
  border-top: 1px solid black;
  margin: 10px;
}

.nutrition-facts {
  margin: 10px;
}

.nutrition-warning {
  border-top: 10px solid black;
  margin: 10px;
}

.serving-size {
  margin: 10px;
}
